.itemDescriptionBackground {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 9999;
}

.tooltip {
  width: 400px;
  height: max-content;
  display: flex;
  padding: 3px;
  flex-direction: column;
  background: #222c35;
  border: 3px solid #1d2429;
  z-index: 10;
}

.tooltip__NameAndCostWrapper {
  width: 100%;
  display: flex;
  padding: 20px;
  color: #ffffffde;
}

.tooltip__NameAndCostWrapper__itemPicture {
  img {
    border: 1px solid black;
  }
}

.tooltip__NameAndCostWrapper__nameAndCost {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tooltip__NameAndCostWrapper__nameAndCost__name {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.tooltip__NameAndCostWrapper__nameAndCost__cost {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  color: #e9bc37;
  font-size: 1rem;
}

.tooltip__description {
  width: 100%;
  height: 100%;
  background: #152128;
  padding: 13px;
  text-align: left;
}

.tooltip__description__target,
.tooltip__description__dispellable {
  padding-bottom: 5px;
}

.tooltip__description__target,
.tooltip__description__dispellable,
.tooltip__description__piercesDebuffImmunity {
  color: #6c7b7e;
  font-size: 1rem;
}

.tooltip__description__dispellable_typeOne,
.tooltip__description__piercesDebuffImmunity_typeOne {
  color: #5aa460;
}

.tooltip__description__dispellable_typeTwo,
.tooltip__description__piercesDebuffImmunity_typeTwo {
  color: #8b0000;
}

.tooltip__description__attrib {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tooltip__description__attrib__text {
  font-size: 1rem;
  color: #6c7b7e;
}

.tooltip__description__abilities {
  width: 100%;
  height: auto;
}

.tooltip__description__abilities_active {
  background: #181e30;
}

.tooltip__description__abilities_passive {
  background: #1c2630;
}

.tooltip__description__abilities_active__header,
.tooltip__description__abilities_passive__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px #000000c7;
  letter-spacing: 1px;
  padding: 6px 10px;
  margin-top: 15px;
}

.tooltip__description__abilities_active_passive__header__manaAndCooldown {
  display: flex;
  align-items: center;
  width: max-content;
  height: auto;
  gap: 0.5rem;
}

.tooltip__description__abilities_active__header {
  background-image: linear-gradient(to right, #373b7e, #181e30);
  color: #9f9fcf;
}

.tooltip__description__abilities_passive__header {
  background-image: linear-gradient(to right, #263540, #1c2630);
  color: #7e8c9d;
}

.tooltip__description__abilities_active__description,
.tooltip__description__abilities_passive__description {
  padding: 6px 10px;

  span {
    text-shadow: 1px 1px 2px #00000052;
  }
}

.tooltip__description__abilities_active__description {
  color: #71779c;
}

.tooltip__description__abilities_passive__description {
  color: #56616e;
}

.tooltip__description__hint,
.tooltip__description__lore {
  width: 100%;
  height: auto;
  padding: 6px 10px;
  margin-top: 15px;
}

.tooltip__description__hint {
  background: #51565f;
  color: #080d15;
}

.tooltip__description__lore {
  background: #0d1118;
  color: #51565f;
}

.tooltip__description__components {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: #51565f;
}

.tooltip__description__components__items {
  display: flex;
  gap: 0.5rem;
  padding-top: 5px;
  color: #81681d;
  font-size: 0.8rem;
}

.tooltip__description__components__items__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
