@import "../scss/variables/colors.scss";

.abilityTooltip {
  width: 300px;
  height: max-content;
  display: flex;
  padding: 3px;
  flex-direction: column;
  background: #222c35;
  border: 3px solid #1d2429;
  z-index: 10;
}

.title {
  display: flex;
  gap: 1rem;
  color: #ffffffde;
  font-size: 13px;
}
