@import "../scss/variables/colors.scss";

.error {
  padding-top: 0rem;
  padding-bottom: 10rem;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: $white_gray;
  }

  span {
    padding-bottom: 10px;
    text-decoration: underline;
    color: #007bee;
    font-size: 1.1rem;
    cursor: pointer;
  }
}

.errorExplanation {
  color: $white_gray;
  font-size: 1.1rem;
  line-height: 1.6rem;
  a {
    text-decoration: underline;
    color: #007bee;
  }
}
