@import "../mixins/fontsize.scss";

$fontColor: #494949;

.error {
  padding-bottom: 10rem;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    @include adaptive-font(0.7, 1.4, 120);
    color: $fontColor;
  }

  span {
    padding-bottom: 10px;
    text-decoration: underline;
    color: #3b82f6;
    @include adaptive-font(0.7, 1.1, 120);
    cursor: pointer;
  }
}

.errorExplanation {
  color: $fontColor;
  @include adaptive-font(0.7, 1.1, 120);
  line-height: 1.6rem;
  a {
    text-decoration: underline;
    color: #3b82f6;
  }
}

@media (min-width: 1920px) {
  .error {
    h2 {
      font-size: 1.4rem;
    }

    span {
      font-size: 1.1rem;
    }
  }

  .errorExplanation {
    font-size: 1.1rem;
  }
}
