@import "../scss/mixins/fonts.scss";
@import "../scss/variables/colors.scss";

.match {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.match__header {
  margin-top: 2rem;

  margin-bottom: 3rem;
  width: 100%;
}

.match__result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    @include FontFrizQuadrataRegular;
    font-size: 2rem;
  }
}

.match__scoreAndTime {
  padding-top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.match__scoreAndTime__radiantScore {
  font-size: 2rem;
  color: $radiant_green;
}
.match__scoreAndTime__duration {
  color: $white;
}
.match__scoreAndTime__direScore {
  font-size: 2rem;
  color: $dire_red;
}

// SearchResultHeader.tsx
.searchResultHeader {
  width: 100%;
  background: $black;
  h3 {
    color: $white;
    text-align: left;
  }
}
