$fontColor: #494949;
$radiantColor: #92a525;
$direColor: #c23c2a;

.match {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.match__header {
  margin-top: 2rem;

  margin-bottom: 3rem;
  width: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    font-size: 2rem;
  }
}

.scoreAndTime {
  padding-top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.scoreAndTime__radiantScore {
  font-size: 2rem;
  color: $radiantColor;
}
.scoreAndTime__duration {
  color: $fontColor;
  font-weight: 400;
}
.scoreAndTime__direScore {
  font-size: 2rem;
  color: $direColor;
}
