$fontColor: #494949;
$radiantColor: #92a525;
$direColor: #c23c2a;
$border: 1px solid black;

.picksBans {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.picksBans_pick,
.picksBans_ban {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  border: $border;

  .heroImg {
    width: fit-content;
    height: 40px;
    position: relative;
  }

  span {
    display: inline-block;
    padding: 3px 4px;
    background: #fff;
    color: $fontColor;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9rem;
    border-top: $border;
  }
}

.picksBans_ban {
  .heroImg {
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0px;
      left: 0;
      right: 0;
      z-index: 1;
      background: #393e468a;
    }
    // TODO : show it.
    &::after {
      content: "";
      position: absolute;
      width: 90px;
      height: 3px;
      z-index: 2;
      left: -7px;
      right: -3px;
      top: 17px;
      transform: rotate(-28deg);
      background: $direColor;
    }
  }
}
