@import "../scss/variables/colors.scss";

// PlayerRow.tsx
.playerRow {
  position: relative;
  width: 100%;
  height: max-content;
  text-align: left;
  cursor: default;

  td {
    position: relative;
    text-align: right;
  }

  &:hover {
    .playerHeroAndVariant,
    .playerNickname {
      z-index: 6;
    }

    .playerNickname {
      position: relative;
    }

    .playerDataCell__kills,
    .playerDataCell__assists,
    .playerDataCell__deaths,
    .playerDataCell__lasthits,
    .playerDataCell__denies,
    .playerDataCell__lasthits,
    .playerDataCell__gpm,
    .playerDataCell__networth,
    .playerDataCell__gpm,
    .playerDataCell__xpm,
    .playerDataCell__heroDamage,
    .playerDataCell__towerDamage,
    .playerDataCell__heroesHealing {
      position: relative;
      z-index: 6;
    }
  }
}

.playerRow__playerDataCell {
  width: 170px;
}

.playerRow__playerDataCell__inCell {
  padding: 10px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

// HeroAndNickName.tsx
.heroAndNickname {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.heroAndNickname__hero {
  position: relative;

  span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    bottom: -7px;
    right: -7px;
    z-index: 2;

    width: 20px;
    height: 20px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

.heroAndNickname__hero__icon {
  width: 54px;
  height: 30px;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.heroAndNickname__hero__level {
  position: absolute;
  top: 0;
  left: 0;

  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: $white;
  background-color: #000000be;

  cursor: default;
}

.heroAndNickname__nickname {
  display: flex;
  flex-direction: column;
}

.heroAndNickname__nickname_radiant {
  color: $radiant_green;
}

.heroAndNickname__nickname_dire {
  color: $dire_red;
}

.heroAndNickname__nickname_radiant,
.heroAndNickname__nickname_dire {
  text-align: left;
}

.rankAndAvatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 4px;
  z-index: 6;
}

.rankAndAvatar__rank {
  position: relative;
  width: 40px;
  height: 40px;
}

.rankAndAvatar__rank__tier {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.rankAndAvatar__avatar {
  width: 24px;
  height: 24px;
}

.playerDataCell__kills {
  padding-left: 20px;
}

.playerDataCell__kills,
.playerDataCell__assists {
  color: #fff;
}

.playerDataCell__kills,
.playerDataCell__deaths,
.playerDataCell__assists {
  width: 21px;
}

.playerDataCell__lasthits,
.playerDataCell__denies {
  width: 21px;
}

.playerDataCell__lasthits,
.playerDataCell__gpm {
  position: relative;
  z-index: 0;
  &::before {
    content: "/";
    position: absolute;
    top: 50%;
    right: -13px;
    transform: translate(-50%, -50%);
    margin: auto 0;
    font-weight: 100;
  }
}

.playerDataCell__denies,
.playerDataCell__xpm {
  text-align: left !important;
  padding-left: 10px;
}

.playerDataCell__networth {
  width: 32px;
}

.playerDataCell__gpm,
.playerDataCell__xpm {
  width: 25px;
}

.playerDataCell__heroDamage,
.playerDataCell__towerDamage,
.playerDataCell__heroesHealing {
  width: 32px;
}

.playerDataCell__towerDamage,
.playerDataCell__heroesHealing {
  padding-left: 10px;
}

.playerDataCell__deaths,
.playerDataCell__lasthits,
.playerDataCell__denies,
.playerDataCell__lasthits,
.playerDataCell__gpm,
.playerDataCell__networth,
.playerDataCell__gpm,
.playerDataCell__xpm,
.playerDataCell__heroDamage,
.playerDataCell__towerDamage,
.playerDataCell__heroesHealing {
  color: #b8b8b8;
}

.playerDataCell__items {
  width: 20%;
  text-align: left;
  padding-left: 10px;
}
.playerDataCell__items__wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.slots {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 250px;
}

.slots__mainSlot,
.slots__backpack {
  display: flex;
  gap: 3px;
  cursor: help;
}

.neutral {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

// .ghanim,
// .shard {
// }
