@import "../scss/variables/colors.scss";

$fontColor: #494949;
$border: 1px solid #000;

.form {
  margin-top: 10rem;
  padding-bottom: 6rem;
  width: 100%;

  span {
    display: inline-block;
    font-size: 1.2rem;
    color: $fontColor;
    padding-bottom: 5px;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search__input {
  padding: 5px 10px;
  width: 300px;
  height: 60px;
  background-color: #fff;
  border: $border;
  color: inherit;
  outline: none;
  transition: all 110ms ease-in-out;
  font-size: 1rem;

  &::placeholder {
    font-size: 1rem;
  }

  &:focus {
    border: 2px solid #000;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}

.search__button_enabled,
.search__button_disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
  padding: 10px;

  font-size: 1.05rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  background-color: #fff;
  border-top: $border;
  border-right: $border;
  border-bottom: $border;
  transition: all 110ms ease-in-out;
}

.search__button_enabled {
  color: $fontColor;

  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.search__button_disabled {
  color: inherit;
  cursor: no-drop;
}

.search__loader {
  width: 50px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
