.search {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.search__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  input {
    padding: 5px 10px;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    background-color: #393e46;
    border: 2px solid #393e46;
    color: #fff;
    outline: none;
    transition: all 110ms ease-in-out;
    font-size: 1rem;

    &::placeholder {
      font-size: 1rem;
      color: #c5c5c5;
    }

    &:focus {
      border: 2px solid #7c7c7c;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    -moz-appearance: textfield;
  }
}

.search__button_enabled,
.search__button_disabled {
  padding: 10px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #393e46;
  transition: all 110ms ease-in-out;
}

.search__button_enabled {
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #454b55;
  }
}

.search__button_disabled {
  color: #cfcfcf;
  cursor: no-drop;
}
