@import "../mixins/scrollX.scss";
@import "../mixins/fonts.scss";

$fontColor: #494949;
$radiantColor: #92a525;
$direColor: #c23c2a;
$border: 1px solid #000;

.builds {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.builds__header {
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.builds__header_radiant {
  color: $radiantColor;
}
.builds__header_dire {
  color: $direColor;
}

// table
.table {
  background: #fff;
  width: 100%;
  font-size: 13px;

  th {
    width: 40px;
  }
}

.tableHeadRow {
  color: $fontColor;
}

.heroDataCell,
.abilityDataCell {
  width: fit-content;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: contain;
  }
}
.heroDataCell {
  img {
    width: auto;
    height: 24px;
  }
}

.abilityDataCell {
  position: relative;
  img {
    width: auto;
    height: 24px;
    cursor: pointer;
  }
}

@media (max-width: 1435px) {
  .builds__tableWrapper {
    @include scrollX;
  }

  .table {
    width: 1430px;
  }
}
