@import "../scss/mixins/fonts.scss";
@import "../scss/variables/colors.scss";
@import "../scss/mixins/scrollX.scss";

.result {
  width: 100%;
  margin-bottom: 2rem;
}

.result__team {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.result__team__header {
  @include FontFrizQuadrataRegular;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.result__team__header_radiant {
  color: $radiant_green;
}

.result__team__header_dire {
  color: $dire_red;
}

.result__team__tableWrapper {
  width: 100%;
}

.table {
  width: 100%;
  padding: 10px;
  background-color: $gray_blue_light;
}
.table__thead {
  width: 100%;
  border: 2px solid $white;
  border-collapse: collapse;
}

.table__thead__headersTableRow {
  height: 40px;
  color: $white;

  th {
    text-align: right;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: left;
      padding-left: 10px;
    }

    .killsTableHeaderCell,
    .deathsTableHeaderCell,
    .assistsTableHeaderCell,
    .gpmTableHeaderCell {
      padding-left: 20px;
    }

    .lasthitsTableHeaderCell {
      padding-left: 35px;
    }

    .deniesTableHeaderCell,
    .xpmTableHeaderCell {
      text-align: left;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.headersTableRow_helperAfter {
  position: relative;
  z-index: 0;
  &::before {
    content: "/";
    position: absolute;
    right: -10px;
    top: 0;
    color: $white;
    font-weight: 100;
  }
}

@media (max-width: 1152px) {
  .result__team__tableWrapper {
    @include scrollX;
  }
}
