@import "../scss/mixins/scrollX.scss";

$fontColor: #494949;
$radiantColor: #92a525;
$direColor: #c23c2a;
$border: 1px solid #000;

.result {
  width: 100%;
  margin-bottom: 2rem;
}

.result__team {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.result__team__header {
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.result__team__header_radiant {
  color: $radiantColor;
}

.result__team__header_dire {
  color: $direColor;
}

.result__team__tableWrapper {
  width: 100%;
}

.table {
  width: 100%;
  background-color: #fff;
}

.table__thead {
  width: 100%;
}

.table__thead__headersTableRow {
  height: 40px;
  color: $fontColor;
  th {
    text-align: center;
  }
}

.headersTableRow_helperAfter {
  position: relative;
  z-index: 0;
  &::before {
    content: "/";
    position: absolute;
    right: -10px;
    top: 0;
    color: $fontColor;
    font-weight: 100;
  }
}

@media (max-width: 1152px) {
  .result__team__tableWrapper {
    @include scrollX;
  }
}
