.dev {
  margin-top: 5rem;
  width: 320px;
  background: #222c35;
  border: 3px solid #1d2429;
}

.dev__head {
  width: 100%;
  display: flex;
  padding: 6px 9px 10px 9px;
  color: #ffffffde;
}

.dev__head__pic {
  border: 1px solid black;
}

.dev__head__kind {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  span {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    color: #e9bc37;
    font-size: 0.9rem;

    img {
      width: 16px;
      height: 16x;
    }
  }
}
