@import "../scss/mixins/fonts.scss";
@import "../scss/variables/colors.scss";

.homeWrapper {
  margin-top: 10rem;
  padding: 10px 0px;
  width: 100%;
  height: 100%;

  h1 {
    @include FontFolkard;
    color: $white;
    font-size: 3rem;
    text-transform: uppercase;
  }
}
.homeWrapper,
.homeWrapper__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.homeWrapper__description {
  h3 {
    font-size: 1.1rem;
  }
}

.homeWrapper__description,
.homeWrapper__description__whatAndWhy,
.homeWrapper__description__futureUpdates {
  color: $white_gray;
}

.homeWrapper__description__whatAndWhy {
  margin-top: 5rem;
}

.homeWrapper__description__futureUpdates {
  margin-top: 3rem;
}

.homeWrapper__description__whatAndWhy,
.homeWrapper__description__futureUpdates {
  width: 100%;
  background-color: $gray_blue_light;
  padding: 20px;
  border-radius: 15px;
}
