@import "../mixins/fonts.scss";
@import "../mixins/fontsize.scss";

$fontColor: #494949;

.footer {
  margin-top: 2rem;
  padding: 20px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #000;
}

.footer__dscope {
  color: $fontColor;
  text-align: center;
  h3 {
    text-transform: uppercase;
    @include adaptive-font(1, 1.4, 120);
  }
  p {
    @include adaptive-font(0.7, 0.95, 120);
  }
}

.footer__bazyshyndev {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  @include adaptive-font(0.7, 0.95, 120);

  a {
    color: $fontColor;
  }

  a:hover {
    color: #3b82f6;
  }
}

@media (min-width: 1920px) {
  .footer__dscope {
    h3 {
      font-size: 1.4rem;
    }

    p {
      font-size: 0.95rem;
    }
  }
  .footer__bazyshyndev {
    font-size: 0.95rem;
  }
}

@media (max-width: 300px) {
  .footer {
    width: 300px;
  }
}
