@import "../scss/mixins/fonts.scss";
@import "../scss/variables/colors";
@import "../scss/mixins/fontsize.scss";

.footer {
  margin-top: 5rem;
  padding: 20px;
  width: 100%;
  background-color: $gray_blue_light;
}

.footer__dchecker {
  color: $white_gray;
  text-align: center;
  h3 {
    @include FontFolkard;
    text-transform: uppercase;
    @include adaptive-font(1, 1.4, 120);
  }
  p {
    @include adaptive-font(0.7, 0.95, 120);
  }
}

.footer__bazyshyndev {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  @include adaptive-font(0.7, 0.95, 120);

  a {
    color: $white_gray;
  }

  a:hover {
    color: $white;
  }
}
