@import "../scss/mixins/fonts.scss";
@import "../scss/variables/colors.scss";

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 5px 0px 5px 0px;
  background-color: $gray_blue_light;
  box-shadow: 0px 1px 10px $gray_blue_dark;
  z-index: 100;

  .headerLink,
  .activeHeaderLink {
    padding: 3px;
    font-size: 1rem;
    font-weight: 400;
    color: $white;
    cursor: pointer;
    border-bottom: 2px solid #ffffff00;
    transition: all 0.1s ease-in-out;
  }

  .headerLink {
    &:hover {
      border-bottom: 2px solid $white;
    }
  }

  .activeHeaderLink {
    border-bottom: 2px solid $white;
  }

  .websiteNameInHeader {
    position: relative;
    top: 0.2rem;
    padding: 3px 3px 3px 10px;
    @include FontFolkard;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    color: $white;
    border-radius: 8px;
    cursor: pointer;
  }
}
