@import "../mixins/fonts.scss";
@import "../mixins/fontsize.scss";

$greyColor: #494949;
$border1: 4px solid #fff;

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 5px 0px 5px 0px;
  background-color: #fff;
  border-bottom: 1px solid #000;
  z-index: 100;
}

.headerLink,
.activeHeaderLink {
  padding: 3px;
  @include adaptive-font(0.7, 1.3, 120);
  font-weight: 400;
  text-transform: capitalize;
  color: $greyColor;
  cursor: pointer;
}

.headerLink {
  &:hover {
    border-bottom: $border1;
  }
}

.activeHeaderLink {
  border-bottom: $border1;
}

// small header
.burgerMenu_closed,
.burgerMenu_open {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 33px;
  height: 45px;
  cursor: pointer;

  span {
    position: relative;
    display: block;
    width: 25px;
    height: 2px;
    background-color: $greyColor;
  }
}

.burgerMenu_open {
  &::before,
  &::after {
    position: absolute;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: $greyColor;
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }

  span {
    display: none;
  }
}

.menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 55px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 20px;
}

@media (min-width: 1920px) {
  .headerLink,
  .activeHeaderLink {
    font-size: 1.3rem;
  }
}

@media (max-width: 550px) {
  .headerContainer {
    justify-content: flex-start;
  }

  .headerLink,
  .activeHeaderLink {
    font-size: 1.1rem;
    border-bottom: none;
  }

  .headerLink {
    &:hover {
      border-bottom: none;
    }
  }

  .activeHeaderLink {
    border-bottom: none;
  }
}
